:root {
    --charcoal-blue: #A9A9A9;
    --slate-gray: #a9a9a9;
    --ash-grey: #2a2a2a;
    --straw-gold: #e5d352;
}

@media (prefers-color-scheme: dark) {
    :root {
        --charcoal-blue: #2f3e46;
        --slate-gray: #354f52;
        --ash-grey: #cad2c5;
        --straw-gold: #e5d352;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light dark;
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    font-family: var(--font-roboto-mono);
    background: hsla(from var(--slate-gray) h s l / 0.6) url(/background.jpg)
        no-repeat center center fixed;
    background-blend-mode: darken;
    background-size: cover;
    color: var(--ash-grey);

    min-height: 100vh;

    @media screen and (width >= 768px) {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
    }
}

main {
    grid-row: 2 / 3;

    @media screen and (width >= 768px) {
        grid-column: 2 / -1;
        grid-row: 2 / -3;
    }
}

a {
    color: var(--ash-grey);

    &.Button {
        border: 2px solid var(--ash-grey);
        padding: 0.75em 1em;
        border-radius: 0.25em;
    }
}

h1,
h2,
h3 {
    font-family: var(--font-iceland-sans);
}

/* Text Colors */
.text-charcoal-blue {
    color: var(--charcoal-blue);
}

.text-slate-gray {
    color: var(--slate-gray);
}

.text-ash-grey {
    color: var(--ash-grey);
}

.text-straw-gold {
    color: var(--straw-gold);
}

/* Background Colors */
.bg-charcoal-blue {
    background-color: var(--charcoal-blue);
}

.bg-slate-gray {
    background-color: var(--slate-gray);
}

.bg-ash-grey {
    background-color: var(--ash-grey);
}

.bg-straw-gold {
    background-color: var(--straw-gold);
}

/* Border Colors */
.border-charcoal-blue {
    border-color: var(--charcoal-blue);
}

.border-slate-gray {
    border-color: var(--slate-gray);
}

.border-ash-grey {
    border-color: var(--ash-grey);
}

.border-straw-gold {
    border-color: var(--straw-gold);
}
