:root {
    --charcoal-blue: #587483;
    --slate-gray: #A9A9A9;
    --ash-grey: #2A2A2A;
    --straw-gold: #E5D352;

}

@media (prefers-color-scheme: dark) {
    :root {
        --charcoal-blue: #2F3E46;
        --slate-gray: #354F52;
        --ash-grey: #CAD2C5;
        --straw-gold: #E5D352;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light dark;
    }
}

body {
    background-color: var(--slate-gray);
    color: var(--ash-grey);
}

/* Text Colors */
.text-charcoal-blue {
    color: var(--charcoal-blue);
}

.text-slate-gray {
    color: var(--slate-gray);
}

.text-ash-grey {
    color: var(--ash-grey);
}

.text-straw-gold {
    color: var(--straw-gold);
}

/* Background Colors */
.bg-charcoal-blue {
    background-color: var(--charcoal-blue);
}

.bg-slate-gray {
    background-color: var(--slate-gray);
}

.bg-ash-grey {
    background-color: var(--ash-grey);
}

.bg-straw-gold {
    background-color: var(--straw-gold);
}

/* Border Colors */
.border-charcoal-blue {
    border-color: var(--charcoal-blue);
}

.border-slate-gray {
    border-color: var(--slate-gray);
}

.border-ash-grey {
    border-color: var(--ash-grey);
}

.border-straw-gold {
    border-color: var(--straw-gold);
}